build/
build_fresh/
build_validate/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.dSYM/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
cmake_install.cmake
compile_commands.json
